body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #E2E8F0;
}

.card {
    background-color: rgba(255, 255, 255, 0.95); 
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(30, 41, 59, 0.15);
    padding: 2.5rem;
    width: 90%;
    max-width: 380px;
    text-align: center;
    margin: 10px;
}


h1.welcome_page {
    color: #333;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

a.welcome_page.btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #667eea;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
    box-sizing: border-box;
}

a.welcome_page.btn:hover {
    background-color: #667eea;
    transform: translateY(-2px);
}

/*LOGIN STYLE*/

h2 {
    color: #1E293B; 
    margin-bottom: 1.5rem;
}

.input-group {
    text-align: left;
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: #475569;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #CBD5E1;
    border-radius: 8px;
    box-sizing: border-box; 
    transition: border-color 0.2s;
}
input[type="date"], input[type="email"] {
    width: 50%;
    padding: 5px;
    border: 1.5px solid #CBD5E1;
    border-radius: 8px;
    box-sizing: border-box; 
    transition: border-color 0.2s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #667eea;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-login:hover {
    background-color: #5567d5;
    transform: translateY(-2px);
}

.btn-home {
    display: inline-block; 
    width: auto;           
    padding: 8px 20px;     
    background-color: #94A3B8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.85rem;   
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none; 
    transition: transform 0.2s, background-color 0.2s;
}
.error-msg {
    color: #ef4444;
    font-size: 0.85rem;
    margin-top: 10px;
}
/*registrazione*/
.remove-btn{
    background-color: #ea6666;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
#addEmail{
background-color: #667eea;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}